.header {
  display: flex;
  height: 97px;
  border-bottom: 1px solid #37393f;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  opacity: 2;
  flex-wrap: wrap;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(3px);
}

.header h3 {
  margin-left: 30px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 4em;
  margin-right: 8em;
  line-height: 1em;
}

.menu__active {
  display: block !important;
}
/*.navItem li:hover {*/
/*text-decoration: underline;*/
/*text-underline-offset: 0.3em;*/
/*}*/
