.nav {
  display: flex;
  border-bottom: 2px solid grey;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  /*gap: 60px;*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  opacity: 1;
  flex-wrap: wrap;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(3px);
}

.nav h3 {
  margin-left: 30px;
}
.navItem {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 4em;
  margin-right: 8em;
  line-height: 1em;
}

/*.navItem li:hover {*/
/*text-decoration: underline;*/
/*text-underline-offset: 0.3em;*/
/*}*/
