.container {
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  border-bottom: black 1px solid;
}

.row_flex {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: auto;
}

.past_projects {
  background-color: #3a3845;
  border-radius: 5px;
  height: 700px;
  width: 500px;
}

.present_projects {
  background-color: #3a3845;
  border-radius: 5px;
  height: 700px;
  width: 500px;
}

.future_projects {
  background-color: #3a3845;
  border-radius: 5px;
  height: 700px;
  width: 500px;
}
